footer{
    background-color: #f8f9fa;
    margin-top: 200px;
}

#logo-foot{
    padding-left: 10px;
}

.futa{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer-links{
    font-size: xx-large;
    /* padding: 100px; */
    cursor: pointer;
}

#copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: small;
}

